<header-drawer data-breakpoint="{% if section.settings.menu_type_desktop == 'drawer' %}desktop{% else %}tablet{% endif %}">
    <details id="Details-menu-drawer-container" class="menu-drawer-container">
        <summary
            class="header__icon header__icon--menu header__icon--summary link focus-inset"
            aria-label="{{ 'sections.header.menu' | t }}"
        >
            <span>
            {{- 'icon-hamburger.svg' | inline_asset_content -}}
            {{- 'icon-close.svg' | inline_asset_content -}}
            </span>
        </summary>
        <div id="menu-drawer" class="gradient menu-drawer motion-reduce color-{{ section.settings.menu_color_scheme }}">
            <div class="menu-drawer__inner-container">
                <div class="menu-drawer__navigation-container">
                    <nav class="menu-drawer__navigation">
                        <ul>
                            <li></li>
                            <li></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </details>
</header-drawer>