<div class="testing-banner">
adasd
</div>

{%- schema -%}
    {
        "name": "Banner Section",
        "class": "banner-homepage",
        "settings": [
        {
            "type": "header",
            "content": "== Design Options"
        },
        ],
        "presets": [
        {
            "name": "Banner Section",
            "category": "EcomExperts",
           
        }
        ]
    }    	
{%- endschema -%}