<div class="testing-banner">
    <div class="hero_top">
        <div class="page-width">
            <div class="logo_text">
                {{ section.settings.logo }}
            </div>
            <div class="ideal_gift_text">
                {{ section.settings.logo }}
            </div>
            <div class="choose_gift">
                {{ section.settings.logo }}
            </div>
        </div>
    </div>
    <div class="hero_bottom">
        {{ section.settings.hero_bottom }}
    </div>
</div>

<style>
    .container {
    }
    .hero_top {
        display:flex;
    }
    .hero_top > * {
        width:100%
    }
    .hero_bottom {
        background:#F5F5F5;
        font-size:18px;
        text-align:center;
    }
</style>

{%- schema -%}
    {
        "name": "Banner Section",
        "class": "banner-homepage",
        "settings": [
            {
                "type": "header",
                "content": "== Top Bar"
            },
            {
                "type": "text",
                "id": "logo",
                "label": "Logo Text",
            },
            {
                "type": "text",
                "id": "ideal_gift_text",
                "label": "Ideal Gift Text",
            },
            {
                "type": "text",
                "id": "choose_gift",
                "label": "Choose Gift Button",
            },
            {
                "type": "header",
                "content": "== Design Options"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "Banner Image",
                "info": "Image Dimension should be : "
            },
            {
                "type": "header",
                "content": "== Banner Text"
            },
            {
                "type": "text",
                "id": "hero_heading",
                "label": "Hero Heading",
            },
            {
                "type": "text",
                "id": "hero_text",
                "label": "Hero Text",
            },
            {
                "type": "text",
                "id": "hero_btn",
                "label": "Hero Button",
            },
            {
                "type": "text",
                "id": "hero_bottom",
                "label": "Hero Bottom Text",
            },
        ],
        "presets": [
            {
                "name": "Banner Section",
                "category": "EcomExperts",
            }
        ]
    }    	
{%- endschema -%}
