<div class="testing-banner">
adasd
</div>

{%- schema -%}
    {
        "name": "Banner Section",
        "class": "banner-homepage",
        "settings": [
            {
                "type": "header",
                "content": "== Design Options"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "Banner Image",
                "info": "Image Dimension should be : "
            }
        ],
        "presets": [
            {
                "name": "Banner Section",
                "category": "EcomExperts",
            }
        ]
    }    	
{%- endschema -%}