<div class="testing-banner">
adasd
</div>

{%- schema -%}
    {
        "name": "Banner Section",
        "class": "banner-homepage",
        "settings": [
            {
                "type": "header",
                "content": "== Top Bar"
            },
            {
                "type": "text",
                "id": "logo",
                "label": "Logo Text",
            },
            {
                "type": "text",
                "id": "ideal_gift_text",
                "label": "Ideal Gift Text",
            },
            {
                "type": "text",
                "id": "choose_gift",
                "label": "Choose Gift",
            },
            {
                "type": "header",
                "content": "== Design Options"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "Banner Image",
                "info": "Image Dimension should be : "
            },
            {
                "type": "header",
                "content": "== Banner Text"
            },
        ],
        "presets": [
            {
                "name": "Banner Section",
                "category": "EcomExperts",
            }
        ]
    }    	
{%- endschema -%}